/*Menù lateral*/
nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #ffffff;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
nav a:hover {
  border-left: 5px solid #ffffff;
  background: #0a0a44;
}
/*Fin de Menù lateral*/
